{% extends '@SonataAdmin/CRUD/show.html.twig' %}

{% block content %}
    {% if admin.hasAccess('create') and admin.hasRoute('create') %}
        <div style="margin-bottom:15px;">
            {# {% include 'CRUD/go_back_button.html.twig' %} #}

            {% if object.deactivated == false %}
                {% if object.accountTypeName == 'Cash' or object.accountTypeName == 'Credit Card' %}
                    {% include 'Account/purchase_button.html.twig' %}

                    {% if object.accountTypeName == 'Cash' %}
                        {% include 'Account/cash_transfer_button.html.twig' %}
                        {% include 'Account/cash_withdrawal_button.html.twig' %}
                        {% include 'Account/currency_exchange_button.html.twig' %}
                    {% endif %}

                    {% if object.accountTypeName == 'Credit Card' %}
                        {% include 'Account/bank_transfer_button.html.twig' %}
                    {% endif %}
                {% elseif object.accountTypeName == 'Bank' %}
                    {% include 'Account/bank_transfer_button.html.twig' %}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block actions %}
    <div style="margin: 10px 0;">
        <a style="padding: 6px 12px;" class="btn btn-default sonata-action-element" href="{{ path('admin_app_account_list') }}">
            <i class="fas fa-list" aria-hidden="true"></i>
            Return to List
        </a>
        {% if object is not null and admin.id(object) is not null and admin.hasAccess('edit', object) and admin.hasRoute('edit') %}
            <a href="{{ path('admin_app_account_edit', {'id': object.id}) }}" 
                class="btn btn-primary sonata-action-element" 
                style="padding: 6px 12px;"
                title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
            >
                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                {{ 'action_edit'|trans({}, 'SonataAdminBundle') }}
            </a>
        {% endif %}
    </div>
{% endblock %}


