<a class="btn btn-success sonata-action-element" 
    href="{{ admin.generateObjectUrl('redirectToBankTransfer', object) }}">
    <i class="fas fa-plus-circle" aria-hidden="true"></i>
    &nbsp;{{ 'bank_currency_transfer_button'|trans({}, 'SonataAdminBundle') }}
</a>