<a class="btn btn-success sonata-action-element" 
    href="{{ admin.generateObjectUrl('redirectToCashWithdrawal', object) }}"
    title="Withdraw cash from the card account"
>
    <i class="fas fa-plus-circle" aria-hidden="true"></i>
    &nbsp;{{ 'cash_withdrawal_button'|trans({}, 'SonataAdminBundle') }}
</a>