<a class="btn btn-success sonata-action-element" 
    href="{{ admin.generateObjectUrl('redirectToCashTransfer', object) }}" 
    title="Transfer cash to another account with the same currency"
>
    <i class="fas fa-plus-circle" aria-hidden="true"></i>
    &nbsp;{{ 'cash_transfer_button'|trans({}, 'SonataAdminBundle') }}
</a>