<a class="btn btn-success sonata-action-element" 
    href="{{ admin.generateObjectUrl('redirectToCurrencyExchange', object) }}"
    title="Exchange currency values between accounts"
>
    <i class="fas fa-plus-circle" aria-hidden="true"></i>
    &nbsp;{{ 'currency_exchange_button'|trans({}, 'SonataAdminBundle') }}
</a>