{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% if value %}
        {# Active = NO #}
        <span class="label label-danger">no</span>
    {% else %}
        {# Active = YES #}
        <span class="label label-success">yes</span>
    {% endif %}
{% endblock %}