<a class="btn btn-success sonata-action-element" 
    href="{{ admin.generateObjectUrl('redirectToPurchase', object) }}"
    title="Make a new purchase from this account"
>
    <i class="fas fa-plus-circle" aria-hidden="true"></i>
    &nbsp;{{ 'new_purchase'|trans({}, 'SonataAdminBundle') }}
</a>