{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if object is not null
    and admin.id(object) is not null
    and admin.hasAccess('edit', object)
    and admin.hasRoute('edit')
%}
    <a href="{{ admin.generateObjectUrl('edit', object) }}" 
        class="btn btn-sm btn-default edit_link" 
        title="{{ 'action_check'|trans({}, 'SonataAdminBundle') }}"
    >
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        {{ 'action_check'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
