<ul class="nav navbar-nav navbar-left">
    <li>
        <a class="btn btn-default sonata-action-element" href="/admin/app/transaction/list">
            <i class="fas fa-list" aria-hidden="true"></i>
            Return to list
        </a>
    </li>
</ul>