{% extends '@SonataAdmin/CRUD/show.html.twig' %}

{% block actions %}
    <div style="margin: 10px 0;">
        {% if admin.hasRoute('list') and admin.hasAccess('list') %}
            <a style="padding: 6px 12px;" class="btn btn-default sonata-action-element" href="{{ admin.generateUrl('list') }}">
                <i class="fas fa-list" aria-hidden="true"></i>
                Return to List
            </a>
        {% endif %}
        {% if object is not null and admin.id(object) is not null and admin.hasAccess('edit', object) and admin.hasRoute('edit') %}
            <a href="{{ admin.generateObjectUrl('edit', object) }}" 
                class="btn btn-primary sonata-action-element" 
                style="padding: 6px 12px;"
                title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
            >
                <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                {{ 'action_edit'|trans({}, 'SonataAdminBundle') }}
            </a>
        {% endif %}
    </div>
{% endblock %}


