{# Main close button for Close/Edit/Delete, included in 'close' block #}
{# <a type="button" class="btn btn-primary" href="{{ admin.generateUrl('list') }}">
    {{ 'go_back_button'|trans({}, 'SonataAdminBundle') }}
</a> #}

{# Go back to previous page #}
<button class="btn btn-primary" style="margin-left:10px;" onclick="history.back()">{{ 'go_back_button'|trans({}, 'SonataAdminBundle') }}</button>
