{% if admin.hasAccess('edit', object) and admin.hasRoute('edit') %}
    {% set button_content = sonata_config.getOption('list_action_button_content') %}
    <a
        href="{{ admin.generateObjectUrl('edit', object, actions.link_parameters|default([])) }}"
        class="btn btn-sm btn-default edit_link"
        title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"
    >
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
    </a>
{% endif %}
