 <div class="text-center">
    {% if invoice.file %}
        {% if invoice.file is not iterable %}
            <a class="btn btn-sm btn-default" href="{{ asset('uploads/') ~ invoice.file.hashedFileName }}" target="_blank">
                <i class="fa fa-file" title="View" aria-hidden="true"></i>
            </a>
            <a class="btn btn-sm btn-default" href="{{ asset('uploads/') ~ invoice.file.hashedFileName }}" download>
                <i class="fa fa-download" title="Download" aria-hidden="true"></i>
            </a>
        {% else %}
            {% set filePaths = [] %}
            {% set archiveName = null %}

            {% for element in invoice.file %}
                {% set filePath = 'uploads/' ~ element.hashedFileName %}
                {% set filePaths = filePaths|merge([filePath]) %}

                {% if element.purchase %}
                    {% set archiveName = element.purchase.shortDescription %}
                {% elseif element.invoice %}
                    {% set archiveName = element.invoice.invoiceNumber %}
                {% elseif element.transaction %}
                    {% set archiveName = element.transaction.shortDescription %}
                {% endif %}
            {% endfor %}

            {% if filePaths is not empty %}
                <a href="{{ path('generate_zip', {'filePaths': filePaths, 'archiveName': archiveName}) }}" class="btn btn-sm btn-default" target="_blank">
                    <i class="fa fa-download" title="Download All" aria-hidden="true"></i>
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
</div>