<button type="button" id="sub-categories-button" data-mainCategoryId="{{ object.id }}" data-mainCategoryName="{{ object.name }}" class="btn btn-sm btn-primary view_link" title="Sub-Categories">
    {{ 'sub_categories'|trans({}, 'SonataAdminBundle') }}&nbsp;
    <i class="fas fa-angle-double-right"></i>
</button>